.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  width: 100vw;
  height: 60px;
  background: orange;
  justify-content: space-between;
  align-items: center;
}

header h1, form {
  margin: 10px;
}

.container-aside-main-content {
  display: flex;
  height: 83vh;
  justify-content: space-between;
}

aside {
  width: 150px;
  border-right: black solid 1px;
}

aside li {
  margin: 10px;
}

.container-main-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 83vh;
}

.box-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  align-items: center;
}

.item-video-title {
  display: flex;
  font-size: 20px;
  margin: 15px;
}

.videos-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 8px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.video-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: green solid 1px;
  align-items: center;
}

.video-card a {
  width: 200px;
  height: 178px;
}

footer {
  background: #636262;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  color: #ffffff;
  height: 45px;
  padding: 10px;
  align-items: center;
}